//----- Variables / Colors

$color-white                : #ffffff;
$color-alabaster            : #fbfbfb;
$color-black                : #000000;
$color-cod-gray             : #222222;
$color-cod-gray-dark        : #1e1e1e;
$color-mine-shaft           : #333333;
$color-dusty-gray           : #999999;
$color-dove-gray            : #666666;
$color-pampas               : #f8f7f5;
$color-gallery              : #ededed;
$color-alto                 : #d0d0d0;
$color-alto-light           : #d7d7d7;
$color-silver               : #cccccc;
$color-ecru-white           : #f1ecdf;
$color-crimson              : #c41230;


$colors           : (
  buttons         : ( //----- Buttons colors
    primary       : $color-black,
    secondary     : $color-white
  )
);

// //----- Variables used in the @for loop for different brand colors
// // Example... Socials
// $buttonsArray  : facebook, fb-messenger, twitter, youtube, viber, whatsapp;
// $buttonsLength : length($buttonsArray) + 1;
// // In scss file
// .c-btn {
//     @for $soc from 1 to $buttonsLength {
//         $currentButton : nth($buttonsArray, $soc);
//         &--#{$currentButton} { // color
//             color: colorFunc(socials, $currentButton);
//         }
//     }
// }
